<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="br.com.brabtech.todo_list_provider">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:usesCleartextTraffic="true">
        <!-- Outras configurações específicas para debug, se houver -->
    </application>
</manifest>
